body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
 
  margin: 0;

  background-image: url('images/image.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  background: #fadbd0;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 700px;
}

input,
select,
button {
  padding: 15px;
  margin: 8px;
  font-size: 18px;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  background: #ecd7d3;
  padding: 15px;
  margin: 10px 0;
  border-radius: 6px;
  text-align: left;
  position: relative;
}

li span.category {
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  color: white;
  margin-left: 10px;
}


.Friend {
  background-color: #daae83;
}
.Family {
  background-color: #b8858b;
}
.Colleague {
  background-color: #65969d;
}

button {
  margin-top: 5px;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


button.rsvp {
  font-family: "Caveat", cursive;
  font-style: normal;
  font-weight: 600; 
  background-color: #e6a386;
  color: white;
}


button.remove {
  font-family: "Caveat", cursive;
  font-style: normal;
  font-weight: 600;
  background-color: #e5b09e;
  color: white;
  margin-left: 5px;
}


.attending {
  background-color: #8fbec4;
}

.not-attending {
  background-color: #f4d7b2;
}
